/*RESET CSS ELIMINA LOS ESTILOS POR DEFECTOS DE LOS NAVEGADORES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url(/images/fondo2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    font-family: "Satisfy", serif;
    font-size: medium;
    border: none;
    margin: 10px;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
}
footer {
    text-align: left;
    position: relative;
    width: 100%;
    bottom: 0;
}
header {
    display: flex;
    justify-content: space-evenly;
}
main, footer{
    display: grid;
    justify-items: center;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 0;
    z-index: 1000;
}
.menu-barra{
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    text-align: left
}
.navbar a:hover{
    background-color: rgb(198, 227, 231);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0;
}
h1 {
    font-weight: 40px;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    margin: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
}
.titulo-principal{
    text-align: center;
    font-size: 40px;
}
h3 {
    margin: 5px; 
    align-items: center;

}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 5px;
    align-items: center;
}

.parrafo-nosotros {
    color: dimgray;
    background-color: lightgray;
    align-items: center;
}

h5 {
    color: dimgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 15px;
}

a {
    text-decoration: none;
    color: rgb(137, 5, 245);
    font-size: 20px;
    margin: 15px;
}
a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 10px;
}

.video-principal{
    padding: 5px;
    align-items: center;
}
.categorias {
    display: flex;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5x;
    grid-area: 1/2/3;

}






